project_name   = "film-recommend"
project_root   = ".."
image_name     = "film-recommend"
image_tag      = "latest"
container_port = 8080
host_port      = 8080
default_movie  = "The Dark Knight Rises"
restart_policy = "unless-stopped"
